.background5{
  background-image: linear-gradient(to right, #6157ff, #ee49fd);
}

.contact-container {
  height: 90vh; /* Adjust the height as needed */
}

@media (max-width: 767px) {
  /* Apply styles for devices smaller than 768px width (mobile devices) */
  .contact-container {
    overflow-y: scroll; /* Enable scrolling when necessary */
    height: auto; /* Allow container to expand dynamically */
    max-height: 90vh; /* Limit maximum height to viewport height */
  }

  /* Hide the scrollbar for webkit-based browsers */
  .contact-container::-webkit-scrollbar {
    display: none;
  }
}


